@import "tailwindcss";
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: "AzarMehr";
  src: url('/src/assets/font/AzarMehr-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "َAzarMehr", Inter, sans-serif;
  margin: 0;
  min-height: 100vh;
}

@theme {
  --font-AzarMehr: "AzarMehr";
}

#root {
  min-height: 100vh;
}

@keyframes floatTech {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-18px);
  }

  100% {
    transform: translateY(0px);
  }
}

.tech-float {
  animation: floatTech ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.4);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.6);
}

.dir-rtl {
  direction: rtl;
  }
  